
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{{blogdetail.title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Edison C666</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#">Twitter</a>
            <a class="nav-item nav-link" href="{% static 'piece.jpg' %}">Resume</a>
            <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
          </div>
        </div>
      </nav>
    </header>
    <h1 class="text-center pt-3">{{blogdetail.title}}</h1>
    <p>{{blogdetail.pub_date}}</p>
    <img src="{{ blogdetail.image.url}}" height=700 width=900 alt="">
    <br/><br/>
    <p>{{blogdetail.body}}</p>
    </body>
